/*
COLOR PALETTE: olive
(from darker to ligher):
#132A13, (19, 42, 19, 0.5)
#31572C
#4F772D
#90A955
#ECF39E
*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: white;
}

header {
  position: relative; /* Insert elements inside with abs. posisiton with respect to it */
  width: 100%; /* Will fill the 100% of the width of its parent container (body) */
  height: 300px;
  overflow: hidden; /* Hide content that overflows */
}

#header_video {
  position: absolute; /* Absolute position inside the header */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fully cover the header container */
  z-index: -1; /* It is positioned behind the text, so that it is visible */
}

#header_title {
  position: absolute;
  bottom: 0;
  right: 40px;
  padding: 20px;
  margin: 0;
  z-index: 0;
}

#header_bar {
  background-color: #132a13;
  display: flex;
  align-items: center;
}

#documentation_block {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

#github_link {
  margin-left: 20px;
}

#github_logo,
#docs_logo {
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto;
}

/* Subcontenedor para navigation y search_filter */
#left_layout {
  display: flex;
  flex-direction: column; /* Coloca navigation y search_filter en columna */
  grid-column: 1; /* Ocupa la primera columna del grid principal */
}

/* Navigation */
#navigation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-right: 0; /* Evita doble margen */
}

#navigation a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #ecf39e;
  color: #ecf39e;
  background-color: #31572c;
}

#navigation a:hover {
  background-color: #90a955;
  color: #132a13;
}

#navigation a:last-child {
  border-bottom-width: 1px;
}

/* Search filter */
#search_add_filter {
  position: relative;
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
  padding: 10px;
  background-color: #90a955;
  min-height: 450px;
  height: 100%;
}

#search_filter > form > input {
  margin-bottom: 10px;
}

#content {
  grid-column: 2; /* Ocupa la segunda columna del grid principal */
  margin: 10px;
}

.table td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.table td:nth-last-child(2) {
  padding-left: 15px;
}

.odd_row {
  background-color: #ecf39e;
}

.even_row {
  background-color: #90a955;
}

.table td:nth-last-child(2),
.table td:last-child {
  background-color: white;
}

.edit_button {
  all: unset;
  width: auto;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.edit_button img {
  display: block;
  width: 100%;
  height: auto;
}

.delete_button {
  all: unset;
  width: auto;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.delete_button img {
  display: block;
  width: 100%;
  height: auto;
}

.add_button {
  all: unset;
  width: auto;
  height: auto;
  display: inline-block;
  cursor: pointer;
}

.add_button img {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
}

footer {
  position: relative;
  background-color: #132a13;
  width: 100%;
  height: 200px;
}

#footer_text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Because the (0, 0) of the text is the top left corner
  (-50%, -50%) means move to the left and upwards a 50% of its size in each axis */
  transform: translate(-50%, -50%);
  margin: 0;
}

.selected {
  background-color: black;
}
